<div class="home2 text-light p-5">
    <div class="container justify-content-around d-flex p-5">
        <div class="d-flex flex-column text-center">

            <h2>LOCATION</h2>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>

        </div>

        <div class="d-flex flex-column  ">
          <div>
            <h2>AROUND THE WEB</h2>

          </div>
          <div class="d-flex justify-content-around">
            <i class="fa-solid fa-brands fa-facebook rounded-circle p-2 fs-3 border"></i>
            <i class="fa-solid fa-brands fa-x-twitter rounded-circle p-2 fs-3 border"></i>
            <i class="fa-solid fa-brands fa-linkedin-in rounded-circle p-2 fs-3 border"></i>
            <i class="fa-solid fa-globe rounded-circle p-2 fs-3 border"></i>
           
          </div>
        </div>

        <div class="text-center ">
          <h2>ABOUT FREELANCER</h2>
          <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      

    </div>
  </div>
  
  <div class="footer p-3">
    <p class="text-center text-white">Copyright © Your Website 2021</p>
  </div>