<div class="about text-light p-5">
    <div class="container p-5  ">
       <div class="container p-5 ">
        <h2 class="fs-1 fw-bold text-center">ABOUT COMPONENT</h2>
        <div class="d-flex py-2 text-center  justify-content-center py-5">
            <div class=" line me-3 mt-2"></div>
            <i class="fa-solid fa-star text-light"></i>
            <div class=" line ms-3 mt-2"></div>
        </div>
        <div class="row py-5">
            <div class="col-6">
                <p>
                    Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.  
                </p>
            </div>
            <div class="col-6">
                <p>
                    Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                </p>
            </div>
        </div>
       </div>
    </div>

</div>

