<div class="contact d-flex flex-column p-3 pt-5">
    <h2 class="fs-1 fw-bolder text-center pt-5">CONATCT SECTION</h2>
        <div class="d-flex py-2  justify-content-center">
            <div class=" line me-3 mt-2 bg-dark"></div>
            <i class="fa-solid fa-star "></i>
            <div class=" line ms-3 mt-2 bg-dark"></div>
        </div>
        <div class="py-5">
            <div class="container d-flex flex-column  w-100 p-5">
        
                <form class="d-flex flex-column justify-content-center  align-items-center " action="">
                    <input class="  w-50 border-0 border-bottom p-2 my-3" type="text" placeholder="userName">
                    <input class="  w-50 p-2 my-3 border-0 border-bottom" type="number" placeholder="userAge">
                    <input class="  w-50 p-2 my-3 border-0 border-bottom" type="email" placeholder="userEmail">
                    <input class="  w-50 p-2 my-3 border-0 border-bottom" type="password" placeholder="userPassword">
                    <div class="d-flex justify-content-lg-start w-50 ">
                        <button type="submit" class=" btn btnCust mb-2">Send Message</button>
        
                    </div>
                </form>
            </div>
        </div>
</div>