.line{
    height: 4px;
    width:85px;
    background-color: #2C3E50;
}
.port{
    color:#2C3E50;
}
.layer{
    opacity: 0;
    background-color: #1abc9c;
    transition: 0.5s;
}
.LH:hover .layer{ 
    cursor: pointer;
    opacity: 0.8;


}