

  <div class="home1 d-flex justify-content-center align-items-center py-5">
   <div class="container d-flex flex-column justify-content-center align-items-center w-100 py-5 ">
    <div class=" d-flex flex-column align-items-center w-100">
        <div class="w-75 d-flex align-items-center justify-content-center py-5">
            <img src="../../assets/images/avataaars.svg" class="w-25" alt="">
        </div>
        <div class="d-flex flex-column align-items-center w-100 ">
            <h2 class="text-light fs-1  w-100 text-center">START FRAMEWORK</h2>
            <div class="d-flex py-2">
                <div class=" line me-3 mt-2"></div>
                <i class="fa-solid fa-star text-light"></i>
                <div class=" line ms-3 mt-2"></div>
            </div>
            <p class="text-light py-1">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
   </div>
  </div>


  